<div class="p-5">
    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex flex-column gap-3">
            <ng-container *ngFor="let prdId of prdIds">
                <div class="d-flex gap-4" *ngIf="cart[prdId] > 0">
                    <img width="100" [src]="prdMap[prdId].url" />
                    <div>
                        <h5>{{prdMap[prdId].name}}</h5>
                        <span class="d-block">${{prdMap[prdId].price}}</span>
                        <input class="form-control mt-1" style="width: 5rem;" type="number" [(ngModel)]="cart[prdId]"
                            (ngModelChange)="onQtyChange(prdId, $event)">
                    </div>
                </div>
            </ng-container>
            <h3>Total: ${{totalAmount}}</h3>
        </div>
        <form [formGroup]="checkoutFrm" (ngSubmit)="submit()" class="d-flex flex-column gap-3 align-items-start">
            <div>
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" placeholder="at least 3 characters" formControlName="fullname">
            </div>
            <div class="alert alert-danger" *ngIf="fullname?.invalid && (fullname?.dirty || fullname?.touched)">
                <span *ngIf="fullname?.errors?.['required']">
                    Name is required.
                </span>
                <span *ngIf="fullname?.errors?.['minlength']">
                    Name must be at least 3 characters long.
                </span>
            </div>
            <div>
                <label class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="at least 6 characters" formControlName="address">
            </div>
            <div class="alert alert-danger" *ngIf="address?.invalid && (address?.dirty || address?.touched)">
                <span *ngIf="address?.errors?.['required']">
                    Address is required.
                </span>
                <span *ngIf="address?.errors?.['minlength']">
                    Address must be at least 6 characters long.
                </span>
            </div>
            <div>
                <label class="form-label">Credit card number</label>
                <input type="text" class="form-control" placeholder="16 digits number" formControlName="creditCard">
            </div>
            <div class="alert alert-danger" *ngIf="creditCard?.invalid && (creditCard?.dirty || creditCard?.touched)">
                <span *ngIf="creditCard?.errors?.['required']">
                    Credit card number is required.
                </span>
                <span *ngIf="creditCard?.errors?.['minlength']">
                    Credit card number must be at least 16 characters long.
                </span>
                <span *ngIf="creditCard?.errors?.['pattern']">
                    Credit card number must be numbers.
                </span>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

</div>